{% extends 'main/base.html' %}

{% block content %}

    {% if user.groups.all.0.name == 'admins' %}
    <div class="flex items-center justify-between w-5/6">
        <a href="{% url 'new-item' category.id %}" class="bg-teal-900 p-3 font-semibold text-teal-50 rounded-lg">New Item</a>
        <h1 class="text-5xl my-10 font-bold ml-32">{{category.name}}</h1>
        <div class="flex gap-6">
            <a href="{% url 'edit-category' category.id %}" class="bg-teal-900 p-3 font-semibold text-teal-50 rounded-lg">Edit Category</a>
            <button data-modal-target="static-modal-{{ category.id }}" data-modal-toggle="static-modal-{{ category.id }}" class="bg-red-900 p-3 font-semibold text-red-50 rounded-lg">Delete Category</button>
        </div>

        <div id="static-modal-{{ category.id }}" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-teal-50 rounded-lg shadow">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b border-teal-900">
                        <h3 class="text-2xl font-semibold">
                            Delete Category
                        </h3>
                        <button type="button" class="text-teal-900 bg-transparent hover:bg-teal-700 hover:text-teal-50 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="static-modal-{{ category.id }}">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-4 md:p-5 space-y-4">
                        <p class="leading-relaxed text-xl font-semibold">
                            Are you sure you wish to delete this category?
                        </p>
                    </div>
                    <!-- Modal footer -->
                    <div class="flex items-center p-4 md:p-5">
                        <a href="{% url 'delete-category' category.id %}" data-modal-hide="static-modal-{{ category.id }}" type="button" class="bg-red-900 p-3 font-semibold text-red-50 rounded-lg mx-2 px-5">Delete</a>
                        <button data-modal-hide="static-modal-{{ category.id }}" type="button" class="bg-teal-900 p-3 font-semibold text-teal-50 rounded-lg mx-2 px-5">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h1 class="text-5xl my-10 font-bold">{{category.name}}</h1>
    {% endif %}
    

<div class="relative overflow-x-auto  mt-10 w-5/6">
    <table class="w-full text-sm text-left rtl:text-right">
        <thead class="text-2xl ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Last Updated
                </th>
                {% if user.groups.all.0.name == 'admins' %}
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Delete</span>
                </th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="text-2xl">
            {% for item in items %}
            <tr class="bg-teal-50 rounded-lg">
                <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap ">
                    {{ item.name }}
                </th>
                <td class="px-6 py-4">
                    ${{ item.price }}
                </td>
                <td class="px-6 py-4 text-center">
                    {{ item.quantity }}
                </td>
                <td class="px-6 py-4 ">
                    {{ item.date_updated }}
                </td>
                {% if user.groups.all.0.name == 'admins' %}
                <td class="px-6 py-4 text-right">
                    <a href="{% url 'edit-item' category.id item.id %}" class="font-medium  hover:underline">Edit</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <button class="text-red-900 font-medium  hover:underline" data-modal-target="static-modal-{{ item.id }}" data-modal-toggle="static-modal-{{ item.id }}">Delete</button>
                </td>
                {% endif %}
            </tr>

            <!-- Modal -->
            <div id="static-modal-{{ item.id }}" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-teal-50 rounded-lg shadow">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b border-teal-900">
                            <h3 class="text-2xl font-semibold">
                                Delete Product
                            </h3>
                            <button type="button" class="text-teal-900 bg-transparent hover:bg-teal-700 hover:text-teal-50 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="static-modal-{{ item.id }}">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-4">
                            <p class="leading-relaxed text-xl font-semibold">
                                Are you sure you wish to delete this product?
                            </p>
                        </div>
                        <!-- Modal footer -->
                        <div class="flex items-center p-4 md:p-5">
                            <a href="{% url 'delete-item' category.id item.id %}" data-modal-hide="static-modal-{{ item.id }}" type="button" class="bg-red-900 p-3 font-semibold text-red-50 rounded-lg mx-2 px-5">Delete</a>
                            <button data-modal-hide="static-modal-{{ item.id }}" type="button" class="bg-teal-900 p-3 font-semibold text-teal-50 rounded-lg mx-2 px-5">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </tbody>
    </table>
</div>





{% endblock %}